---
import type { CatSocialSkills } from "../../interfaces/Cat";

interface Props {
  socialSkills: CatSocialSkills;
}

const { socialSkills } = Astro.props;

function getSocialIconName(str: string) {
  switch (str) {
    case "yes":
      return "check_yes.png";
    case "no":
      return "cross_no.png";
    case "maybe":
      return "question_mark.png";
    default:
      return "question_mark.png";
  }
}
---

<div class="flex flex-col space-y-3 w-full">
  <div class="flex items-center gap-3 p-2 bg-primary/30 rounded-lg">
    <img
      src={"/icons/" + getSocialIconName(socialSkills.isCatFriendly ?? "maybe")}
      alt="Compatibilité avec les chats"
      class="size-6"
    />
    <span class="font-medium">Chats</span>
  </div>
  <div class="flex items-center gap-3 p-2 bg-primary/30 rounded-lg">
    <img
      src={"/icons/" + getSocialIconName(socialSkills.isDogFriendly ?? "maybe")}
      alt="Compatibilité avec les chiens"
      class="size-6"
    />
    <span class="font-medium">Chiens</span>
  </div>
  <div class="flex items-center gap-3 p-2 bg-primary/30 rounded-lg">
    <img
      src={"/icons/" + getSocialIconName(socialSkills.isChildrenFriendly ?? "maybe")}
      alt="Compatibilité avec les enfants"
      class="size-6"
    />
    <span class="font-medium">Enfants</span>
  </div>
</div>
