---
import type { Cat } from "../interfaces/Cat";
import CatPhotoSweeper from "./CatPhotoSweeper";
interface Props {
  cat: Cat;
}

const { cat } = Astro.props;

function getSocialIconName(str: string) {
  switch (str) {
    case "yes":
      return "check_yes.png";
    case "no":
      return "cross_no.png";
    case "maybe":
      return "question_mark.png";
    default:
      return "question_mark.png";
  }
}

// console.log(cat);
---
<>
<cat-card data-catid={cat.documentId} class="w-96 py-2 px-4 rounded-3xl border-[10px] border-catCardBorder bg-catCardBg">
  
  <!-- Title -->
  <h1 class="text-center text-3xl font-bold text-stone-600 mb-2 cursor-pointer underline">{cat.name}</h1>

  <!-- Image -->
  <div class="relative overflow-hidden rounded-2xl border-[3px] border-white">
    {cat.photos && cat.photos[0] && (
      <CatPhotoSweeper photos={cat.photos} client:load />
    )}
  </div>

  <!-- Details -->
  <div>
    <div class="flex py-3 px-6 justify-between w-full text-sm text-stone-600">
      <div class="flex items-center"><img src="/icons/paw.png" class="-rotate-[25deg] size-8 mr-2"><span>{cat.gender ?? "Mâle"}</span></div>
      <div class="flex items-center "><img src="/icons/paw.png" class="-rotate-[25deg] size-8 mr-2"><span>{cat.robe ?? "Inconnu"}</span></div>
      <div class="flex items-center"><img src="/icons/paw.png" class="-rotate-[25deg] size-8 mr-2"><span>{cat.age ?? "Inconnu"}</span></div>
    </div>

    <!-- Description -->
     <div class="px-3 py-2 bg-tertiary rounded-2xl ">
      <div class="text-sm line-clamp-5 min-h-[100px]" set:html={cat?.description != null ? cat.description: "Pas de descrption"}></div>
     </div>
    <div class="flex py-2">
      <!-- Compatibility -->
      <div class="flex flex-col space-y-1 w-1/2 ">
        <div class="flex items-center ml-5"><img src={"/icons/" + getSocialIconName(cat.socialSkills?.isCatFriendly ?? "maybe")} alt="" class="size-4 mr-1"><span>Chats</span></div>
        <div class="flex items-center ml-5"><img src={"/icons/" + getSocialIconName(cat.socialSkills?.isDogFriendly ?? "maybe")} alt="" class="size-4 mr-1"><span>Chiens</span></div>
        <div class="flex items-center ml-5"><img src={"/icons/" + getSocialIconName(cat.socialSkills?.isChildrenFriendly ?? "maybe")} alt="" class="size-4 mr-1"><span>Enfants</span></div>
      </div>
      <!-- Health -->
      <div class="w-1/2 flex flex-col items-center justify-center space-y-1">
        <div>Maladies</div>
        <div>{cat?.sicknesses?.length === 0 ? "N/A" : cat.sicknesses[0]?.name}</div>
      </div>
    </div>
  </div>
</cat-card>
<script>
  class CatCard extends HTMLElement {
    connectedCallback() {
      const catId = this.dataset.catid;
      console.log(catId);
      this.querySelector('h1')?.addEventListener('click', () => {
        window.location.href = `/nos-chats/${catId}`;
      });
    }
  }

  customElements.define('cat-card', CatCard);
</script>
</>
