---
// const tabs: Tab[] = await fetchApi<Tab[]>({
//   endpoint: "tabs", // the content type to fetch
//   wrappedByKey: "data", // the key to unwrap the response
// });
---

<nav class="h-20 bg-orange-400">
  <!-- <div class="flex justify-center">
    {
      tabs.map((tab) => {
        return <NavbarLink href={tab.href} name={tab.name} />;
      })
    }
  </div> -->
</nav>
