{{- $name := "front" -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "cacao.fullname" . }}-{{ $name }}-config
  namespace: {{ include "cacao.namespace" . }}
  labels:
    {{- (include "cacao.commonLabels" .) | nindent 4 }}
    app.kubernetes.io/name: {{ $name }}
type: Opaque
data:
  PUBLIC_STRAPI_URL: {{ default "https://strapi.neitosden.fr" .Values.deployments.front.config.PUBLIC_STRAPI_URL | toString | b64enc }}
  STRAPI_API_TOKEN: {{ .Values.deployments.front.config.STRAPI_API_TOKEN | toString | b64enc }}