---
import strapiFetch from "../../lib/strapi-fetch";
import type { Cat } from "../../interfaces/cat";
import Layout from "../../layouts/Layout.astro";
import CatCard from "../../components/CatCard.astro";
import qs from "qs";

const cats: Cat[] = await strapiFetch<Cat[]>({
  endpoint: "cats", // the content type to fetch
  wrappedByKey: "data", // the key to unwrap the response
  query: qs.stringify(
    {
      sort: "name:asc",
      fields: ["name", "description", "adopted"],
      populate: {
        tags: {
          fields: ["name"],
        },
        photos: {
          fields: ["url"],
        },
      },
    },
    {
      encodeValuesOnly: true, // prettify URL
    }
  ),
});

const pageTitle = "Nos Chats";

// console.log(query);
// console.log(JSON.stringify(cats, null, 2));
---

<Layout title={pageTitle}>
  <div class="flex flex-col w-full">
    <h1 class="text-3xl font-bold mx-auto my-6">{pageTitle}</h1>
    <div class="flex flex-wrap justify-center custom-cat-card">
      {cats.map((cat) => <CatCard cat={cat} />)}
    </div>
  </div>
</Layout>

