/* Start of hamburger button CSS section */
.hamburger span:nth-child(2)::after {
  content: "";
  transition: all 0.3s;
  @apply absolute left-0 top-0 h-full w-full rounded-full bg-inherit;
}

.hamburger.active span:nth-child(odd) {
  opacity: 0;
}
.hamburger.active span:nth-child(2) {
  transform: rotate(-45deg);
}

.hamburger.active span:nth-child(2)::after {
  transform: rotate(90deg);
}
/* End of hamburger button CSS section */

/* CSS for donation button */
.dons {
  background-image: url("/icons/coeur_dons.png");
}
