---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script src="./js/theme-util.js" type="text/javascript" is:inline></script>
  </head>
  <body class="min-h-screen flex flex-col bg-orange-100">
    <Navbar />
    <main class="flex-grow flex">
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
.custom-scrollbar-x, .custom-scrollbar-y {
  overflow: hidden;
}
.custom-scrollbar-x {
  overflow-x: auto;
}
.custom-scrollbar-y {
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(241, 165, 99);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  /* background-color: rgb(253 186 116 / var(--tw-bg-opacity)); */
}
::-webkit-scrollbar-button{

  width: 0px;
  height: 0px;
 }
</style>
